h4{
  text-align: center;
  color: grey;
}

.h6{
  text-align: center;
}

#disconnectButton {
	display: none;
}

#clearMessage{
  margin-top: 1%;
  margin-left: 56%;
}

.cardMessages {
	height: 180px;
  overflow-y: scroll;
}

.cardUsers {
	height: 180px;
  overflow-y: scroll;
}

#messages pre.sent {
	color: #f63;
}
