body{
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
}

h4{
  text-align: center;
  color: grey;
}

.h6{
  text-align: center;
}

.logCard{
   float: right;
   margin-top: -12%;
   width: 42%;
   margin-right: 0%;
}

#disconnectButton {
	display: none;
}

#clearMessage{
  margin-top: 1%;
  margin-left: 56%;
}

.cardMessages {
	height: 180px;
  overflow-y: scroll;
}

.cardUsers {
	height: 180px;
  overflow-y: scroll;
}

.btnEnviar{
  margin-top: -3%;
}

.btns{
  margin-top: 2%;
}

.divMsgs{
  margin-top: -2%;
}

#messages pre.sent {
	color: #f63;
}
